
        <section class="section white-backgorund">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 title-wrap">
                        <h2 class="title lines">Frequently asked Questions</h2>
                        <p>BarterUi is a platform for exchanging goods or services, in any combination.
                            There is no cash/credit involved.
                            Exchange things that are not useful to you anymore and bring in something you have always wanted, all without digging into your wallet</p>
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="spacer-20 no-border">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-group accordion style1" id="question" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="questionOne">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionOne" aria-expanded="true" aria-controls="collapseOne">
                                            I am new to BarterUi. How do I use it?
                                        </a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseQuestionOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionOne">
                                    <div class="panel-body">
                                        <p>You can start by searching for items that you are interested in in by using the search bar located at the top of the screen.
                                        However, to actually make an offer, you would have to sign in using your facebook login, by clicking on the login button on the top right hand corner of the screen.</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapse -->
                            </div><!-- end panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="questionTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Okay, I logged in. Now what ?
                                        </a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseQuestionTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
                                    <div class="panel-body">
                                        <p>Once logged in, you should see your name on the top right hand corner of the screen. On hovering over your name, you would see a list of menu options.
                                        You can list items so that people can look at your items when they search, by clicking on my items</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapse -->
                            </div><!-- end panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="questionThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionThree" aria-expanded="false" aria-controls="collapseThree">
                                            How can I see the offers received on my items ?
                                        </a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseQuestionThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionThree">
                                    <div class="panel-body">
                                        <p>Once logged in, you can see all the offers received on your items by clicking on the "My offers" link on the top right hand corner of the screen.</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapse -->
                            </div><!-- end panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="questionFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionFour" aria-expanded="false" aria-controls="collapseThree">
                                            How can I see the items I expressed interest on?
                                        </a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseQuestionFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionFour">
                                    <div class="panel-body">
                                        <p>Once logged in, you can see all the offers received on your items by clicking on the "My interests" link on the top right hand corner of the screen.</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapse -->
                            </div><!-- end panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="questionFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionFive" aria-expanded="false" aria-controls="collapseThree">
                                            I received an offer on my item and I am interested in what the other person is offering. How can I proceed?
                                        </a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseQuestionFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionFive">
                                    <div class="panel-body">
                                        <p>Click on "My offers" and navigate to the offer. All the exchanges offered on the item are listed along with "chat now" links, which would connect you directly to the user offering the exchange.</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapse -->
                            </div><!-- end panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="questionSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionSix" aria-expanded="false" aria-controls="collapseThree">
                                            Yay! I successfully exchanged my item for something awesome. What next?
                                        </a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseQuestionSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionSix">
                                    <div class="panel-body">
                                        <p>That's great! Please help us out by marking your item that you exchanged as "Bartered". You can do this by navigating to "My items" and click on the green flag, which indicates that the item has been exchanged.
                                        </p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapse -->
                            </div><!-- end panel -->
                        </div><!-- end panel-group -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>