<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="topBar navbar-fixed-top page-scroll">
             <ul class="topBarNav row">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="col-md-2">
                    <a href="/" id="search-results-link"><i class="fa fa-refresh" aria-hidden="true"></i>
                         Bartery</a>
                </li>
                 <li class="col-md-6">
                    <swap-search-bar></swap-search-bar>
                </li>
                 <li class="col-md-4 text-right">
                    <swap-login></swap-login>
                </li>
                <li class="linkdown pull-right">
                    <swap-myaccount></swap-myaccount>
                </li>
            </ul>

    </div>
</nav>
