<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="topBar navbar-fixed-top page-scroll">
        <div class="container">
            <ul class="topBarNav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a href="home" id="search-results-link"><i class="fa fa-refresh" aria-hidden="true"></i>
                         Bartery</a>
                </li>
                 <li>
                    <swap-search-bar></swap-search-bar>
                </li>
                <li class="pull-right">
                    <swap-login></swap-login>
                </li>
                <li class="linkdown pull-right">
                    <swap-myaccount></swap-myaccount>
                </li>
            </ul>
        </div>
    </div>
</nav>
