<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="topBar navbar-fixed-top page-scroll">
        <div class="row vertical-alignment">

            <div class="col-md-1 text-left">
                <a href="/" id="search-results-link">
                    <img class="img-responsive" src="../../assets/img/barterii.png"/>
                </a>
            </div>
            <div class="col-md-8 text-left">
                <swap-search-bar></swap-search-bar>
            </div>
            <div class="col-md-2 display-table">
                <ul class="topBarNav pull-right">
                    <li class="linkdown" style="display: table-cell;"><swap-myaccount></swap-myaccount></li>
                    <li><swap-login></swap-login></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
