<section id="welcome" class="home-section auto-height-margin">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img src="../../assets/img/barterii_cropped.png" class="img-responsive"/>
            <h6 class="subtitle">Discover, Offer, Exchange</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">

        </div>
    </div>


</section>


<div *ngIf="searchResponse" class="container">
    <div class="row" *ngIf="searchRequest.zip != '00000'">
        <h6 class="regular text-left">
            Showing items available in zip :
            <small class="text-muted">{{searchRequest.zip}}</small>
            <br>
            category :
            <small class="text-muted">{{searchRequest.categoryName}}</small>
        </h6>
    </div>

    <div class="row" *ngIf="searchRequest.zip == '00000'">
        <h6 class="regular text-left">
            Showing the latest items available for exchange
        </h6>
    </div>

    <hr class="spacer-5">
    <hr class="spacer-20 no-border">
    <div class="row">
        <div id="fh5co-board" data-columns="4">
            <div class="column size-1of4">
                <ng-container
                        *ngFor="let item of searchResponse.items; let i=index">

                    <div class="item" *ngIf="i%4 == 0" data-aos="fade-up">
                        <div class="animate-box bounceIn animated">
                            <a (click)="routeToItemDetail(item.itemId)" class="image-popup fh5co-board-img"><img
                                    src="{{item.imageUrl}}"></a>
                        </div>
                        <div class="row">
                            <div class="fh5co-desc col-md-12">
                                <p class="lead"><b><a (click)="routeToItemDetail(item.itemId)">{{item.title}}</a></b></p>
                                <p>
                                    <small>{{item.description}}</small>
                                </p>
                                <p>
                                    <small class="text-muted"> Category : {{item.categoryName}}</small>
                                </p>
                                <p>
                                    <small class="text-muted"> Location : {{item.zipCode}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9"> &nbsp;</div>
                            <div class="col-md-2">
                                <!--<a (click)="console.log('flag')">-->
                                    <!--<i class="fa fa-flag fa-2x text-danger" aria-hidden="true" title="Flag this item"></i>-->
                                <!--</a>-->
                            </div>
                        </div>
                    </div>

            </ng-container>
            </div>

          <div class="column size-1of4">
            <ng-container
                    *ngFor="let item of searchResponse.items; let j=index">

                <div class="item" *ngIf="j%4 == 1" data-aos="fade-up">
                    <div class="animate-box bounceIn animated">
                        <a (click)="routeToItemDetail(item.itemId)" class="image-popup fh5co-board-img"
                           title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img
                                src="{{item.imageUrl}}"></a>
                    </div>
                    <div class="row">
                        <div class="fh5co-desc col-md-12">
                            <p class="lead"><b><a (click)="routeToItemDetail(item.itemId)">{{item.title}}</a></b></p>
                            <p>
                                <small>{{item.description}}</small>
                            </p>
                            <p>
                                <small class="text-muted"> Category : {{item.categoryName}}</small>
                            </p>
                            <p>
                                <small class="text-muted"> Location : {{item.zipCode}}</small>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"> &nbsp;</div>
                        <div class="col-md-2">
                            <!--<a (click)="console.log('flag')">-->
                                <!--<i class="fa fa-flag fa-2x text-danger" aria-hidden="true" title="Flag this item"></i>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="column size-1of4">
            <ng-container
                    *ngFor="let item of searchResponse.items; let k=index">

                <div class="item" *ngIf="k%4 == 2" data-aos="fade-up">
                    <div class="animate-box bounceIn animated">
                        <a (click)="routeToItemDetail(item.itemId)" class="image-popup fh5co-board-img"><img
                                src="{{item.imageUrl}}"></a>
                    </div>
                    <div class="row">
                        <div class="fh5co-desc col-md-12">
                            <p class="lead"><b><a (click)="routeToItemDetail(item.itemId)">{{item.title}}</a></b></p>
                            <p>
                                <small>{{item.description}}</small>
                            </p>
                            <p>
                                <small class="text-muted"> Category : {{item.categoryName}}</small>
                            </p>
                            <p>
                                <small class="text-muted"> Location : {{item.zipCode}}</small>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"> &nbsp;</div>
                        <div class="col-md-2">
                            <!--<a (click)="console.log('flag')">-->
                                <!--<i class="fa fa-flag fa-2x text-danger" aria-hidden="true" title="Flag this item"></i>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
            <div class="column size-1of4">
                <ng-container
                        *ngFor="let item of searchResponse.items; let l=index">

                    <div class="item" *ngIf="l%4 == 3" data-aos="fade-up">
                        <div class="animate-box bounceIn animated">
                            <a (click)="routeToItemDetail(item.itemId)" class="image-popup fh5co-board-img"><img
                                    src="{{item.imageUrl}}"></a>
                        </div>
                        <div class="row">
                            <div class="fh5co-desc col-md-12">
                                <p class="lead"><b><a (click)="routeToItemDetail(item.itemId)">{{item.title}}</a></b></p>
                                <p>
                                    <small>{{item.description}}</small>
                                </p>
                                <p>
                                    <small class="text-muted"> Category : {{item.categoryName}}</small>
                                </p>
                                <p>
                                    <small class="text-muted"> Location : {{item.zipCode}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9"> &nbsp;</div>
                            <div class="col-md-2">
                                <!--<a (click)="console.log('flag')">-->
                                    <!--<i class="fa fa-flag fa-2x text-danger" aria-hidden="true" title="Flag this item" data-toggle="tooltip" title="Hooray!"></i>-->
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-offset-5">
            <button class="btn btn-behance" (click)="loadMore()"><i class="fa fa-plus" aria-hidden="true"></i> Load More</button>
        </div>

    </div>
</div>
