<div *ngIf="searchResponse" class="container">
    <div class="row">
        <h6 class="regular text-left">
            Showing items available in
            <small class="text-muted">{{searchRequest.zip}}</small>
        </h6>
    </div>

    <hr class="spacer-5">
    <hr class="spacer-20 no-border">
    <div class="row">
        <div id="fh5co-board" data-columns="3">
            <div class="column size-1of3">
                <ng-container
                        *ngFor="let item of searchResponse.items; let i=index">

                    <div class="item" *ngIf="i%3 == 0">
                        <div class="animate-box bounceIn animated">
                            <a href="#" class="image-popup fh5co-board-img"><img
                                    src="{{item.imageUrl}}"></a>
                        </div>
                        <div class="fh5co-desc">
                            <h6 class="regular">
                                <a (click)="routeToItemDetail(item.itemId)">{{item.title}}</a>
                            </h6>
                        </div>
                    </div>

            </ng-container>
            </div>

          <div class="column size-1of3">
            <ng-container
                    *ngFor="let item of searchResponse.items; let j=index">

                <div class="item" *ngIf="j%3 == 1">
                    <div class="animate-box bounceIn animated">
                        <a href="images/img_1.jpg" class="image-popup fh5co-board-img"
                           title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img
                                src="{{item.imageUrl}}" alt="Free HTML5 Bootstrap template" class="front"></a>
                    </div>
                    <div class="fh5co-desc">
                        <h6 class="regular">
                            <a (click)="routeToItemDetail(item.itemId)">{{item.title}}</a>
                        </h6>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="column size-1of3">
            <ng-container
                    *ngFor="let item of searchResponse.items; let k=index">

                <div class="item" *ngIf="k%3 == 2">
                    <div class="animate-box bounceIn animated">
                        <a href="images/img_1.jpg" class="image-popup fh5co-board-img"><img
                                src="{{item.imageUrl}}"></a>
                    </div>
                    <div class="fh5co-desc">
                        <h6 class="regular">
                            <a (click)="routeToItemDetail(item.itemId)">{{item.title}}</a>
                        </h6>
                    </div>
                </div>
            </ng-container>
        </div>
        </div>
    </div>
</div>
