<div class="row">
    <!-- end sidebar -->
    <div class="col-sm-9">
        <swap-myprofile *ngIf="componentLoadIndicator == 'my-profile'"></swap-myprofile>
        <swap-myinterests *ngIf="componentLoadIndicator == 'my-interests'"></swap-myinterests>
        <swap-myitems *ngIf="componentLoadIndicator == 'my-items'"></swap-myitems>
        <swap-myoffers *ngIf="componentLoadIndicator == 'my-offers'"></swap-myoffers>
        <swap-myreviews *ngIf="componentLoadIndicator == 'my-reviews'"></swap-myreviews>
        <swap-mynotifications *ngIf="componentLoadIndicator == 'my-notifications'"></swap-mynotifications>
    </div>
</div>
<swap-item *ngIf="componentLoadIndicator == 'my-items'"></swap-item>
