<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12 text-left">
            <h2 class="title">My Notifications</h2>
        </div><!-- end col -->
    </div><!-- end row -->

    <hr class="spacer-5">
    <hr class="spacer-20 no-border">

    <div class="row">

        <div class="col-md-4">

            <div class="widget">
                <h4 class="subtitle"><i class="fa fa-weixin" aria-hidden="true"></i>
                    Active Conversations</h4>

                <ul class="list list-unstyled">
                    <li>
                        <a href="javascript:void(0);" class="btn btn-default round btn-md">Shankar &nbsp;<img class="chat-box-img" src="http://i.pravatar.cc/128?img=19" alt="message user image"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="btn btn-default round btn-md">Shankar &nbsp;<img class="chat-box-img" src="http://i.pravatar.cc/128?img=12" alt="message user image"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="btn btn-default round btn-md">Shankar &nbsp;<img class="chat-box-img" src="http://i.pravatar.cc/128?img=19" alt="message user image"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="btn btn-default round btn-md">Shankar &nbsp;<img class="chat-box-img" src="http://i.pravatar.cc/128?img=12" alt="message user image"></a>
                    </li>
                </ul>
            </div><!-- end widget -->


        </div>

    <div class="col-md-8">


        <div class="box box-default chat-box chat-box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Direct Chat

                    <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                </h3>

            </div><!-- /.box-header -->
            <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="chat-box-messages">
                    <!-- Message. Default to the left -->
                    <div class="chat-box-msg">
                        <div class="chat-box-info clearfix">
                            <span class="chat-box-name pull-left">Zachary Banks</span>
                            <span class="chat-box-timestamp pull-right">23 Jan 2:00 pm</span>
                        </div><!-- /.chat-box-info -->
                        <img class="chat-box-img" src="http://i.pravatar.cc/128?img=19" alt="message user image">
                        <!-- /.chat-box-img -->
                        <div class="chat-box-text">
                            You are never too old to set another goal or to dream a new dream.
                        </div><!-- /.chat-box-text -->
                    </div><!-- /.chat-box-msg -->

                    <!-- Message to the right -->
                    <div class="chat-box-msg right">
                        <div class="chat-box-info clearfix">
                            <span class="chat-box-name pull-right">Hannah Watkins</span>
                            <span class="chat-box-timestamp pull-left">23 Jan 2:05 pm</span>
                        </div><!-- /.chat-box-info -->
                        <img class="chat-box-img" src="http://i.pravatar.cc/128?img=12" alt="message user image">
                        <!-- /.chat-box-img -->
                        <div class="chat-box-text">
                            In order to succeed, we must first believe that we can.
                        </div><!-- /.chat-box-text -->
                    </div><!-- /.chat-box-msg -->
                </div><!--/.chat-box-messages-->
            </div><!-- /.box-body -->
            <div class="box-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..."
                               class="form-control focus-primary">
                        <span class="input-group-btn">
                  <button type="button" class="btn btn-primary btn-flat">Send</button>
                </span>
                    </div>
                </form>
            </div><!-- /.box-footer-->
        </div><!--/.chat-box -->


    </div>
    </div>
</div>
