<div class="col-sm-9">
    <div class="row">
        <div class="col-sm-12 text-left">
            <h2 class="title">My Wishlist</h2>
        </div><!-- end col -->
    </div><!-- end row -->

    <hr class="spacer-5"><hr class="spacer-20 no-border">

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <a href="shop-single-product-v1.html">
                                <img width="60px" src="img/products/men_06.jpg" alt="product">
                            </a>
                        </td>
                        <td>
                            <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum</a></h6>
                            <small>12x1.5 L</small>
                        </td>
                        <td>
                            <span class="text-primary">$59.99</span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-default round btn-sm"><i class="fa fa-cart-plus mr-5"></i> Add to cart</a>
                        </td>
                        <td>
                            <button type="button" class="close">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="shop-single-product-v1.html">
                                <img width="60px" src="img/products/shoes_01.jpg" alt="product">
                            </a>
                        </td>
                        <td>
                            <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum</a></h6>
                            <small>12x1.5 L</small>
                        </td>
                        <td>
                            <span class="text-primary">$39.99</span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-default round btn-sm"><i class="fa fa-cart-plus mr-5"></i> Add to cart</a>
                        </td>
                        <td>
                            <button type="button" class="close">×</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="shop-single-product-v1.html">
                                <img width="60px" src="img/products/bags_07.jpg" alt="product">
                            </a>
                        </td>
                        <td>
                            <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum</a></h6>
                            <small>12x1.5 L</small>
                        </td>
                        <td>
                            <span class="text-primary">$29.99</span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-default round btn-sm"><i class="fa fa-cart-plus mr-5"></i> Add to cart</a>
                        </td>
                        <td>
                            <button type="button" class="close">×</button>
                        </td>
                    </tr>
                    </tbody>
                </table><!-- end table -->
            </div><!-- end table-responsive -->

            <hr class="spacer-10 no-border">

            <a href="shop-sidebar-left.html" class="btn btn-light semi-circle btn-sm">
                <i class="fa fa-arrow-left mr-5"></i> Continue shopping
            </a>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end col -->