<div>
  <div>
    <div>
      <div *ngIf="interest" class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="tab-content style2">
              <div class='item active'>
                <figure>
                  <img src="{{interest.originalItemId.images[0].url}}" alt=''/>
                </figure>
              </div><!-- end item -->
              <div class="tab-pane active" id="description">
                <h5>{{interest.originalItemId.title}}</h5>
                <span>{{interest.originalItemId.description}}
                    </span>
                <hr class="spacer-15">
                <dl>
                  <dt>Category</dt>
                  <dd>{{interest.originalItemId.categoryId.categoryName}}</dd>
                  <dt>Location</dt>
                  <dd>{{interest.originalItemId.zipCode}}</dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <div class="col-md-2 col-lg-offset-5">
                <img class="img-responsive" src="../../assets/img/barterii_cropped.png"/>
              </div>
            </div>

              <div class="box box-default chat-box chat-box-primary box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    Conversation
                  </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <!-- Conversations are loaded here -->
                  <div class="chat-box-messages">
                    <!-- Message. Default to the left -->
                    <i *ngIf="isLoading" class="fa fa-2x fa-refresh fa-spin"></i>
                    <small class="text-muted">This is the beginning of the conversation</small>
                    <ng-container *ngFor="let chat of chats">

                      <div class="chat-box-msg">
                        <div class="chat-box-info clearfix">
                          <span class="chat-box-name pull-left">{{chat.userName}}</span>
                          <span class="chat-box-timestamp pull-right">{{chat.timestamp}}</span>
                        </div><!-- /.chat-box-info -->
                        <img class="chat-box-img" src="{{chat.userImageUrl}}"
                             alt="message user image">
                        <!-- /.chat-box-img -->
                        <div class="chat-box-text" id="{{chat.id}}">
                          {{chat.message}}
                        </div><!-- /.chat-box-text -->
                      </div><!-- /.chat-box-msg -->
                    </ng-container>
                  </div><!--/.chat-box-messages-->
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <form action="#" method="post">
                    <div class="input-group">
                      <input type="text" name="message" placeholder="Type Message ..."
                             class="form-control focus-primary" id="chatMessageInput"
                             #chatMessageInput>
                      <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary btn-flat" (click)="sendMessage(chatMessageInput.value)">Send</button>
                                        </span>
                    </div>
                  </form>
                </div><!-- /.box-footer-->
              </div><!--/.chat-box -->


          </div>

          <div class="col-sm-3">
            <div class="tab-content style2">
              <div class='item active'>
                <figure>
                  <img src="{{interest.swappableItemId.images[0].url}}" alt=''/>
                </figure>
              </div><!-- end item -->
              <div class="tab-pane active" id="description">
                <h5>{{interest.swappableItemId.title}}</h5>
                <p>{{interest.swappableItemId.description}}
                </p>
                <hr class="spacer-15">
                <dl>
                  <dt>Category</dt>
                  <dd>{{interest.swappableItemId.categoryId.categoryName}}</dd>
                  <dt>Location</dt>
                  <dd>{{interest.swappableItemId.zipCode}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
