<div *ngIf="myInterests" class="col-sm-12">
    <div class="row">
        <div class="col-sm-12 text-left">
            <h2 class="title">My Interests</h2>
        </div><!-- end col -->
    </div><!-- end row -->

    <hr class="spacer-5">
    <hr class="spacer-20 no-border">

    <div class="row">
        <div class="col-md-12">
            <div *ngIf="myInterests" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>I Like</th>
                        <th>Status</th>
                        <th>I offer</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let interest of myInterests">
                        <td>
                            <a href="shop-single-product-v1.html">
                                <img width="60px" src="{{interest.originalItemId.image_id.url}}" alt="product">
                            </a>
                            <br>
                            <p>{{interest.originalItemId.title}}</p>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-angle-double-left text-success fa-2x"></i>
                                    <i class="fa fa-angle-double-left text-success fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-angle-double-left text-danger fa-2x"></i>
                                    <i class="fa fa-angle-double-left text-danger fa-2x"></i>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a href="shop-single-product-v1.html">
                                <img width="60px" src="{{interest.swappableItemId.image_id.url}}" alt="product">
                            </a>
                            <p>{{interest.swappableItemId.title}}</p>
                        </td>
                        <td>
                            <a (click)="deleteInterest(interest.interestId)" class="btn btn-danger round btn-xs">Delete Interest</a>
                        </td>
                    </tr>
                    </tbody>
                </table><!-- end table -->
            </div><!-- end table-responsive -->

            <hr class="spacer-10 no-border">


        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end col -->