<div id="item-section"></div>
<div class="container light-backgorund" *ngIf="createOrUpdate == 'update' || createOrUpdate == 'create' ">
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="createOrUpdate == 'create'" class="title-wrap">
                <h2 class="title">Create an item</h2>
            </div>
            <div *ngIf="createOrUpdate == 'update'" class="title-wrap">
                <h2 class="title">Update your item</h2>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
    <div class="row">
        <form [formGroup]="itemForm" *ngIf="active" (ngSubmit)="createOrUpdateItem(itemForm)">
            <div class="col-sm-6">
                <div class="form-group" [class.has-error]="formErrors.title">
                    <label for="title">Title</label>
                    <input type="text" formControlName="title" id="title" class="form-control input-md"
                           placeholder="Title" required maxlength="100">
                    <div *ngIf="formErrors.title">
                        {{ formErrors.title }}
                    </div>
                </div>
                <div class="form-group" [class.has-error]="formErrors.zipCode">
                    <label for="zipCode">Zip Code</label>
                    <input type="text" formControlName="zipCode" id="zipCode" class="form-control input-md"
                           placeholder="5 Digit Zip Code">
                    <div *ngIf="formErrors.zipCode">
                        {{ formErrors.zipCode }}
                    </div>
                </div>
                <div class="form-group" [class.has-error]="formErrors.categoryId">
                    <label for="categoryId">Category</label>
                    <select class="form-control" id="categoryId" name="categoryId"
                            formControlName="categoryId">
                        <option *ngFor="let category of categoriesList" [value]="category.categoryId">{{category.categoryName}}</option>
                    </select>
                    <div *ngIf="formErrors.categoryId">
                        {{ formErrors.categoryId }}
                    </div>
                </div>

                <div class="form-group" [class.has-error]="formErrors.itemStage">
                    <label for="itemImage">Upload item images</label>
                    <image-upload id="itemImage"
                            max="4"
                            maxFileSize="2000kb"
                            [buttonCaption]="'Choose images'"
                            [dropBoxMessage]="'Drop images'"
                            [fileTooLargeMessage]="'Image size is too large'"
                            (onRemove)="removeImage($event)"
                            (onFileUploadFinish)="fileUpload($event)">
                    </image-upload>
                </div>
                <div class="form-group">
                    <input *ngIf="createOrUpdate == 'update'" [disabled]="disableButton" type="submit" class="btn btn-behance btn-xs" value="Update my item">
                    <input *ngIf="createOrUpdate == 'create'" [disabled]="disableButton" type="submit" class="btn btn-behance btn-xs" value="List my item">
                    <div *ngIf="serviceMessage" class="alert alert-success" role="alert">{{serviceMessage}}<i
                            class="fa fa-thumbs-up"></i></div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="form-group" [class.has-error]="formErrors.description">
                    <label for="description">Description</label>
                    <textarea formControlName="description" rows="6" id="description"
                              class="form-control input-md"
                              placeholder="Describe your item" maxlength="500">
                        </textarea>
                    <div *ngIf="formErrors.description">
                        {{ formErrors.description }}
                    </div>
                </div>
                <div class="form-group" [class.has-error]="formErrors.condition">
                    <label for="condition">Condition</label>
                    <select class="form-control" id="condition" name="condition" formControlName="condition">
                        <option>BRAND_NEW</option>
                        <option>PRE_OWNED</option>
                    </select>
                    <div *ngIf="formErrors.condition">
                        {{ formErrors.condition }}
                    </div>
                </div>
               </div><!-- end col -->
        </form>
    </div>
    <!-- Only when editing items, show existing images-->
    <div *ngIf="itemDetail && itemDetail.images" class="row">
            <div *ngFor="let image of itemDetail.images" class="col-md-2">
                <button type="button" class="close" aria-label="Close" title="Delete this image" (click)="deleteExistingImage(image.public_id)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="img-responsive" src="{{image.url}}"/>
            </div>
    </div>

</div>
