    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="title-wrap">
                    <h2 class="title">About Us</h2>
                    <p class="lead">BarterUi platform was created to help people who want to exchange their goods, without dealing with cash.
                    The initial idea was to use the platform for books, dvds and toys, but it can actually be used for virtually anything, as long
                    as both parties agree for the swap.
                    </p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row text-center">
            <div class="col-sm-4">
                <h1>Development</h1>
                <h6>Shankar Ganesh</h6>
                <p>Hi and welcome. If you are reading this, you are already on BarterUi.com, and I am glad you visited. I am a software developer,
                and in my spare time, I've created this web site. </p>
            </div><!-- end col -->
            <div class="col-sm-4">
                <h1>Donation</h1>
                <h6>Any donations are welcome</h6>
                <p>All the infrastructure for the website is hosted on AWS and as you know, everything costs money. Although I've put in money from my side, I cannot sustain this in the long term.
                Your donations help me in keeping the site running.</p>
            </div><!-- end col -->
            <div class="col-sm-4">
                <h1>Feedback</h1>
                <h6>Feedback really helps</h6>
                <p>I am not a UI developer and what you see is on the site, is me learning and implementing. Any feedback about any issues you faced,
                any new features you may have in mind or any UI/UX related suggestions and critiques/brickbats are most welcome.</p>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
