<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-wrap">
                    <h2 class="title">Create an item</h2>
                    <h6 class="subtitle">Don't worry, the item will only be visible to others once you publish</h6>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-sm-6">
                <form [formGroup]="itemForm" *ngIf="active" (ngSubmit)="onSubmit()">
                    <div class="form-group" [class.has-error]="formErrors.title">
                        <label for="title">Title</label>
                        <input type="text" formControlName="title" id="title" class="form-control input-md"
                               placeholder="Title" required>
                        <div *ngIf="formErrors.title">
                            {{ formErrors.title }}
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.description">
                        <label for="description">Description</label>
                        <textarea formControlName="description" rows="5" id="description"
                                  class="form-control input-md"
                                  placeholder="Describe your item">
                        </textarea>
                        <div *ngIf="formErrors.description">
                            {{ formErrors.description }}
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.zipCode">
                        <label for="zipCode">Zip Code</label>
                        <input type="text" formControlName="zipCode" id="zipCode" class="form-control input-md"
                               placeholder="5 Digit Zip Code">
                        <div *ngIf="formErrors.zipCode">
                            {{ formErrors.zipCode }}
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.userName">
                        <label for="userName">User ID</label>
                        <input type="text" formControlName="userName" id="userName" class="form-control input-md"
                               placeholder="User ID">
                        <div *ngIf="formErrors.userName">
                            {{ formErrors.userName }}
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.categoryName">
                        <label for="categoryName">Category</label>
                        <select class="form-control" id="categoryName" name="categoryName"
                                formControlName="categoryName">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div *ngIf="formErrors.categoryName">
                            {{ formErrors.categoryName }}
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.condition">
                        <label for="condition">Condition</label>
                        <select class="form-control" id="condition" name="condition" formControlName="condition">
                            <option>BRAND_NEW</option>
                            <option>PRE_OWNED</option>
                        </select>
                        <div *ngIf="formErrors.condition">
                            {{ formErrors.condition }}
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.itemStage">
                        <label for="itemStage">Item Status</label>
                        <select class="form-control" id="itemStage" name="itemStage" formControlName="itemStage">
                            <option>INITIALIZED</option>
                        </select>
                        <div *ngIf="formErrors.itemStage">
                            {{ formErrors.itemStage }}
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="formErrors.itemStage">
                        <label for="itemImage">Upload item images</label>
                        <input type="file" (change)="fileChange($event)" id="itemImage" placeholder="Upload file"
                               accept=".jpg,.jpeg,.png">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-default round btn-md" value="List my item">
                    </div>


                </form>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h5 class="subtitle thin">Checkboxes</h5>

                <form>
                    <div class="checkbox-input">
                        <input id="checkbox1" class="styled" type="checkbox" checked>
                        <label for="checkbox1">
                            Default
                        </label>
                    </div>
                    <div class="checkbox-input checkbox-primary">
                        <input id="checkbox2" class="styled" type="checkbox" checked>
                        <label for="checkbox2">
                            Primary
                        </label>
                    </div>
                    <div class="checkbox-input checkbox-success">
                        <input id="checkbox3" class="styled" type="checkbox" checked>
                        <label for="checkbox3">
                            Success
                        </label>
                    </div>
                    <div class="checkbox-input checkbox-info">
                        <input id="checkbox4" class="styled" type="checkbox" checked>
                        <label for="checkbox4">
                            Info
                        </label>
                    </div>
                    <div class="checkbox-input checkbox-warning">
                        <input id="checkbox5" type="checkbox" class="styled" checked>
                        <label for="checkbox5">
                            Warning
                        </label>
                    </div>
                    <div class="checkbox-input checkbox-danger">
                        <input id="checkbox6" type="checkbox" class="styled" checked>
                        <label for="checkbox6">
                            Danger
                        </label>
                    </div>
                </form>

                <h5 class="subtitle thin">Radio</h5>
                <div class="radio-input">
                    <input type="radio" name="radio2" id="radio3" value="option1" checked>
                    <label for="radio3">
                        One
                    </label>
                </div>
                <div class="radio-input radio-primary">
                    <input type="radio" name="radio2" id="radio4" value="option2">
                    <label for="radio4">
                        Two
                    </label>
                </div>
                <div class="radio-input radio-success">
                    <input type="radio" name="radio2" id="radio5" value="option5">
                    <label for="radio5">
                        Three
                    </label>
                </div>
                <h6 class="thin mb-20">Radio Disabled</h6>
                <div class="radio-input radio-danger">
                    <input type="radio" name="radio3" id="radio6" value="option1" disabled>
                    <label for="radio6">
                        One disable
                    </label>
                </div>
                <div class="radio-input radio-info">
                    <input type="radio" name="radio3" id="radio7" value="option2" checked disabled>
                    <label for="radio7">
                        Two disable
                    </label>
                </div>

            </div><!-- end col -->
        </div>

    </div>
</section>