<!-- Header start -->
<div class="navbar yamm navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row table">
            <div class="col-md-1 vertical-align text-left hidden-xs">
                <a href="javascript:void(0);">
                    <img width="160" src="img/logo-big.png" alt="" />
                </a>
            </div>
            <!-- Search box -->
            <div class="col-md-5">
                <div>&nbsp;</div>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="searchBox" #searchBox type="text" class="form-control input-lg" placeholder="Search" (keyup)="autocomplete(searchBox.value)" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" (click)="search(searchBox.value)">
                                    <i class="glyphicon glyphicon-search"></i>
                            </button>
                            </span>
                    </div>
                    <div *ngFor="let item of observableTitles | async" class="search-result" (click)="searchBox.value = item.title; search(item.title)">
                        <a>{{item.title}}</a>
                    </div>
                </div>
                <!-- Single button -->
            </div>
            <!-- End Search box -->
            <!-- My Account and Facebook Login-->
            <div class="col-md-5">
                <div>&nbsp;</div>
                <div class="topBarNav pull-right">
                    <a href="javascript:void(0);">
                        <i class="fa fa-user mr-5"></i>
                        <span class="hidden-xs">
                                My Account 
                        </span>
                    </a>
                    &nbsp;
                    <a href="javascript:void(0);" class="btn btn-facebook semi-circle btn-sm">f</a>
                </div>
            </div>
            <!-- End My Account and Facebook Login-->
        </div>

<!-- categories -->



<!-- end categories -->

    </div>
    <!-- categories tabs -->
    <swap-categories></swap-categories>
    </div>
<!-- Header end -->


<div *ngIf="searchResponse" class="col-md-10">
    <swap-item-list [searchResponse]="searchResponse"></swap-item-list>
</div>

