    <form *ngIf="true" class="form-inline" #searchBarForm="ngForm"  (ngSubmit)="search(searchBarModel)">

        <div class="form-group input-group input-group-sm col-md-3">
            <select class="form-control" id="categorysearch" name="categorysearch"
                    [(ngModel)]="searchBarModel.categoryName">
                <option *ngFor="let category of categoriesList" [value]="category.categoryName">{{category.categoryName}}</option>
            </select>
        </div>
        <div class="form-group input-group input-group-sm col-md-4">
            <input type="text" id="searchBox"
                   [(ngModel)]="searchBarModel.search" class="form-control" name="searchBox" placeholder="What are you looking for?"
                   aria-describedby="sizing-addon1" (keyup)="autocomplete(searchBox.value)" #searchBox="ngModel">
        </div>
        <div class="form-group input-group input-group-sm col-md-1">
            <input type="text"
                   [(ngModel)]="searchBarModel.zip" id="postalCode" required minlength="5" maxlength="5"
                   class="form-control" name="postalCode" placeholder="Enter zip code" #postalCode="ngModel" value="95050">
        </div>
        <button class="btn btn-behance btn-xs vbaseline" type="submit">Search</button>
    </form>
