<div *ngIf="isLoggedIn">
<a href="javascript:void(0);">
    <i class="fa fa-user mr-5"></i>
    <span class="hidden-xs">
                                Welcome {{user.firstName}}
                                <i class="fa fa-angle-down ml-5"></i>
                            </span>
</a>
<ul class="w-150">
    <li><a href="register.html">My Items</a></li>
    <li><a href="login.html">My Interests</a></li>
    <li><a href="register.html">Offers on My Items</a></li>
    <li class="divider"></li>
    <li><a href="wishlist.html">Notifications</a></li>
    <li><a href="cart.html">Reviews</a></li>
    <li><a href="javascript: void(0)" (click)="onFacebookLogoutClick()">Logout</a></li>
</ul>
</div>