<div>
    <div *ngIf="showItem">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class='carousel slide product-slider' data-ride='carousel' data-interval="false">
                            <div class='carousel-inner' *ngIf="itemDetail.images != null && itemDetail.images.length > 0">
                                <ng-container *ngFor="let image of itemDetail.images; let i=index;">
                                    <div [ngClass]="{'active': i == 0 }" class='item'>
                                        <figure>
                                            <img src="{{image.url}}" alt=''/>
                                        </figure>
                                    </div>
                                </ng-container>
                                <!-- Arrows -->
                                <a class='left carousel-control' href='.product-slider' data-slide='prev'>
                                    <span class='fa fa-angle-left'></span>
                                </a>
                                <a class='right carousel-control' href='.product-slider' data-slide='next'>
                                    <span class='fa fa-angle-right'></span>
                                </a>
                            </div><!-- end carousel-inner -->

                            <!-- thumbs -->
                            <ol class='carousel-indicators mCustomScrollbar meartlab' *ngIf="itemDetail.images != null && itemDetail.images.length > 0">
                                <ng-container *ngFor="let image of itemDetail.images;let i=index">
                                    <li data-target='.product-slider' data-slide-to='0' class='active'><img
                                            src="{{image.url}}" alt=''/></li>
                                </ng-container>
                            </ol><!-- end carousel-indicators -->
                        </div><!-- end carousel -->
                    </div><!-- end col -->
                    <div class="col-sm-7">

                        <div class="tab-content style2">
                            <div class="tab-pane active" id="description">
                                <h5>{{itemDetail.title}}</h5>
                                <p>{{itemDetail.description}}
                                </p>

                                <hr class="spacer-15">

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <dl class="dl-horizontal">
                                            <dt>Category</dt>
                                            <dd>{{itemDetail.categoryId.categoryName}}</dd>
                                            <dt>Location</dt>
                                            <dd>{{itemDetail.zipCode.zipCode}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 text-left">

                                        <ul class="list list-inline">
                                            <li *ngIf="!interestCreated">
                                                <button type="button" class="btn btn-behance btn-xs"
                                                        (click)="passUserId(itemDetail.userId.userId)"
                                                        data-target="#errorModal" data-toggle="modal"><i
                                                        class="fa fa-refresh"></i> Barter?
                                                </button>
                                            </li>
                                            <li *ngIf="interestCreated">
                                                <div class="alert alert-success" role="alert">Congratulations! You made an offer  <i
                                                        class="fa fa-thumbs-up"></i></div>
                                            </li>
                                        </ul>
                                        <div *ngIf="showInterests">
                                            <swap-interest-options [itemUserId]="userId"
                                                                   [originalItemId]="itemId"></swap-interest-options>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <div class="container" *ngIf="interestsOrOffers">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tab-content style2">
                            <div class="container">
                                <ng-container *ngFor="let interest of interestsOrOffers.interests">
                                <div class="row">
                                        <div class="col-xs-1 text-right">
                                            <a [routerLink]="['/chat', interest.interestId]">
                                            <img id="test" style="max-width: 80%;" class="img-circle"
                                                 src="{{interest.interestedUser.imageUrl}}">
                                            </a>
                                        </div>
                                        <div class="col-xs-10 text-left">
                                            <h6 class="inline">
                                                <a [routerLink]="['/chat', interest.interestId]">
                                                {{interest.interestedUser.displayName}}
                                                    <small class="text-muted">has offered an exchange for this item. </small>
                                                    &nbsp;   <i class="fa fa-commenting-o text-primary"></i>
                                                </a>
                                            </h6>
                                            <hr>
                                        </div>
                                </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

