<!-- Modal Product Quick View -->
<div>
    <div *ngIf="showItem">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class='carousel slide product-slider' data-ride='carousel' data-interval="false">
                            <div class='carousel-inner'>
                                <div class='item active'>
                                    <figure>
                                        <img src="{{itemDetail.image_id.url}}" alt=''/>
                                    </figure>
                                </div><!-- end item -->
                                <div class='item'>
                                    <figure>
                                        <img src="{{itemDetail.image_id.url}}" alt=''/>
                                    </figure>
                                </div><!-- end item -->
                                <div class='item'>
                                    <figure>
                                        <img src="{{itemDetail.image_id.url}}" alt=''/>
                                    </figure>
                                </div><!-- end item -->
                                <div class='item'>
                                    <figure>
                                        <img src="{{itemDetail.image_id.url}}" alt=''/>
                                    </figure>
                                </div><!-- end item -->

                                <!-- Arrows -->
                                <a class='left carousel-control' href='.product-slider' data-slide='prev'>
                                    <span class='fa fa-angle-left'></span>
                                </a>
                                <a class='right carousel-control' href='.product-slider' data-slide='next'>
                                    <span class='fa fa-angle-right'></span>
                                </a>
                            </div><!-- end carousel-inner -->

                            <!-- thumbs -->
                            <ol class='carousel-indicators mCustomScrollbar meartlab'>
                                <li data-target='.product-slider' data-slide-to='0' class='active'><img
                                        src="{{itemDetail.image_id.url}}" alt=''/></li>
                                <li data-target='.product-slider' data-slide-to='1'><img
                                        src="{{itemDetail.image_id.url}}" alt=''/></li>
                                <li data-target='.product-slider' data-slide-to='2'><img
                                        src="{{itemDetail.image_id.url}}" alt=''/></li>
                                <li data-target='.product-slider' data-slide-to='3'><img
                                        src="{{itemDetail.image_id.url}}" alt=''/></li>
                            </ol><!-- end carousel-indicators -->
                        </div><!-- end carousel -->
                    </div><!-- end col -->
                    <div class="col-sm-7">

                        <div class="tab-content style2">
                            <div class="tab-pane active" id="description">
                                <h5>{{itemDetail.title}}</h5>
                                <p>{{itemDetail.description}}
                                </p>

                                <hr class="spacer-15">

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <dl class="dl-horizontal">
                                            <dt>Category</dt>
                                            <dd>{{itemDetail.categoryId.categoryName}}</dd>
                                            <dt>Location</dt>
                                            <dd>{{itemDetail.zipCode.zipCode}}</dd>
                                        </dl>

                                        <ul class="list list-inline">
                                            <li *ngIf="!interestCreated">
                                                <button type="button" class="btn btn-default btn-md round"
                                                        (click)="passUserId(itemDetail.userId.userId)"
                                                        data-target="#errorModal" data-toggle="modal"><i
                                                        class="fa fa-heart mr-5"></i>Interested ?
                                                </button>
                                            </li>
                                            <li *ngIf="interestCreated">
                                                <button type="button" class="btn btn-success round btn-md"
                                                        (click)="passUserId(itemDetail.userId.userId)"><i
                                                        class="fa fa-heart mr-5"></i>Expressed Interest. Modify?
                                                </button>
                                            </li>
                                        </ul>
                                        <div *ngIf="showInterests">
                                            <swap-interest-options [itemUserId]="userId"
                                                                   [originalItemId]="itemId"></swap-interest-options>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- end tab-pane -->
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end productRewiew -->

