
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissError()">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Oh snap!</strong> {{errorMessage}}
</div><!-- end alert -->

<div *ngIf="showInterests" class="container">
<div class="row">
<div class="col-md-5">
    <div class="widget">
        <div class="panel-group accordion" id="myCartFilter">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#myCartFilter" href="#myCartFilterCollapseOne">
                            My Items
                        </a>
                    </h3>
                </div>
                <div id="myCartFilterCollapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <ul class="tags">
                            <li *ngFor="let title of selectedItemTitles">
                                <a class="btn btn-warning-outline semi-circle btn-xs">{{title}}</a>
                            </li>
                        </ul>

                        <hr class="spacer-10">
                        <ul class="items">
                            <li *ngFor="let item of itemDetails;">
                                <a href="javascript:void(0);" class="product-image">
                                    <img src="{{item.images[0].url}}" alt="Item image ">
                                </a>
                                <div class="product-details">
                                    <div class="close-icon">
                                         <input id="{{item.itemId}}" class="styled" type="checkbox" (change)="checkedItems($event, item.itemId, item.title)" [disabled]="checkboxState(item.itemId)">
                                    </div>
                                    <p class="product-name">
                                        <label for="{{item.itemId}}">{{item.title}}</label>
                                    </p>
                                </div>
                            </li><!-- end item -->
                        </ul>

                        <hr class="spacer-10">

                        <hr class="spacer-10">
                        <a (click)="createInterest()" class="btn btn-behance btn-xs"><i class="fa fa-refresh"></i> Make an offer</a>
                    </div><!-- end panel-body -->
                </div><!-- end panel-collapse -->
            </div><!-- end panel -->
        </div><!-- end accordion -->
    </div><!-- end widget -->
</div><!-- end col -->
</div>
</div>