<div class="tab-pane" id="reviews">
    <h5>4 Review for "Lorem ipsum dolor sit amet"</h5>

    <hr class="spacer-10 no-border">

    <div class="comments">
        <div class="comment-image">
            <figure>
                <img src="img/team/team_01.jpg" alt="" />
            </figure>
        </div><!-- end comments-image -->
        <div class="comment-content">
            <div class="comment-content-head">
                <h6 class="comment-title">Lorem ipsum dolor sit</h6>
                <ul class="list list-inline comment-meta">
                    <li>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                    </li>
                </ul>
            </div><!-- end comment-content-head -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos! Sapiente laboriosam molestiae praesentium ducimus culpa. Magnam, odit, optio. Possimus similique eligendi explicabo, dolore, beatae sequi.</p>
            <cite>Joe Doe</cite>
        </div><!-- end comment-content -->
    </div><!-- end comments -->

    <div class="comments">
        <div class="comment-image">
            <figure>
                <img src="img/team/team_02.jpg" alt="" />
            </figure>
        </div><!-- end comments-image -->
        <div class="comment-content">
            <div class="comment-content-head">
                <h6 class="comment-title">Lorem ipsum dolor sit</h6>
                <ul class="list list-inline comment-meta">
                    <li>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half-o text-warning"></i>
                    </li>
                </ul>
            </div><!-- end comment-content-head -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos! Sapiente laboriosam molestiae praesentium ducimus culpa. Magnam, odit, optio.</p>
            <cite>Joe Doe</cite>
        </div><!-- end comment-content -->
    </div><!-- end comments -->

    <div class="comments">
        <div class="comment-image">
            <figure>
                <img src="img/team/team_03.jpg" alt="" />
            </figure>
        </div><!-- end comments-image -->
        <div class="comment-content">
            <div class="comment-content-head">
                <h6 class="comment-title">Lorem ipsum dolor sit</h6>
                <ul class="list list-inline comment-meta">
                    <li>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i>
                    </li>
                </ul>
            </div><!-- end comment-content-head -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos! Sapiente laboriosam molestiae praesentium ducimus culpa. Magnam, odit, optio.</p>
            <cite>Jane Doe</cite>
        </div><!-- end comment-content -->
    </div><!-- end comments -->

    <div class="comments">
        <div class="comment-image">
            <figure>
                <img src="img/team/team_04.jpg" alt="" />
            </figure>
        </div><!-- end comments-image -->
        <div class="comment-content">
            <div class="comment-content-head">
                <h6 class="comment-title">Lorem ipsum dolor sit</h6>
                <ul class="list list-inline comment-meta">
                    <li>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half-empty text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i>
                    </li>
                </ul>
            </div><!-- end comment-content-head -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos! Sapiente laboriosam molestiae praesentium ducimus culpa. Magnam, odit, optio.</p>
            <cite>John Doe</cite>
        </div><!-- end comment-content -->
    </div><!-- end comments -->

    <hr class="spacer-30">

    <h5>Add a review</h5>
    <p>How do you rate this product?</p>

    <hr class="spacer-5 no-border">

    <form>
        <input type="text" class="rating rating-loading" value="5" data-size="sm" title="">
    </form>

    <hr class="spacer-10 no-border">

    <div class="form-group">
        <label for="reviewName">Name</label>
        <input type="text" id="reviewName" class="form-control input-md" placeholder="Your Name">
    </div><!-- end form-group -->
    <div class="form-group">
        <label for="reviewEmail">E-mail</label>
        <input type="text" id="reviewEmail" class="form-control input-md" placeholder="Your E-mail">
    </div><!-- end form-group -->
    <div class="form-group">
        <label for="reviewMessage">Review</label>
        <textarea id="reviewMessage" rows="5" class="form-control" placeholder="Your review"></textarea>
    </div><!-- end form-group -->
    <div class="form-group">
        <input type="submit" class="btn btn-default round btn-md" value="Submit Review">
    </div><!-- end form-group -->
</div><!-- end tab-pane -->