<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12 text-left">
            <h2 class="title">My Items</h2>
        </div><!-- end col -->
    </div><!-- end row -->

    <hr class="spacer-5"><hr class="spacer-20 no-border">

    <div class="row left">
        <h4>
        <a class="page-scroll" (click)="createNewItem()" href="#item-section">Create a new listing</a>
        </h4>
    </div>

    <div class="row" *ngIf="((items == null) || (items && items.length == 0))">
        <div class="col-sm-12">
            You do not have listed items
        </div>
    </div>

    <div class="row" *ngIf="items && items.length > 0">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th colspan="2">Item Title</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let item of items">
                        <td>
                            {{item.itemId}}
                        </td>
                        <td>
                            <a href="shop-single-product-v1.html">
                                <img width="60px" src="{{item.image_id.url}}" alt="{{item.title}}">
                            </a>
                        </td>
                        <td>
                            <h6 class="regular"><a class="page-scroll" (click)="selectItem(item)" href="#item-section">{{item.title}}</a></h6>
                        </td>
                        <td>
                            <span class="label label-primary">{{item.itemStage}}</span>
                        </td>
                        <td>
                            <a (click)="deleteItem(item.itemId)" class="btn btn-danger round btn-xs">Delete Item</a>
                        </td>
                    </tr>
                    </tbody>
                </table><!-- end table -->
            </div><!-- end table-responsive -->
            <hr class="spacer-10 no-border">
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end col -->

